html {
    min-height: 100%;
    background-color: rgb(25, 25, 25);
    color: white;
}
  
fieldset {
    border-color: white !important;
}

.nav-bar-holding-block {
    position: fixed;
    top: 0;
    width: 100%;
    height: 130px;
    z-index: 300;
    background-color: rgb(25, 25, 25);
}