.navbar {
    position: fixed;
    width: 90%;
    left: 5%;
    right: 5%;
    z-index: 400;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    position: relative;
    display: inline-block;
    margin: 0 2vw;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.navbar ul li::after {
    content: '';
    height: 1px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: 3px;
    transition: 0.5s;
}

.navbar ul li:hover:after {
    width: 100%;
}

.navbar ul li.navbar-selected-li::after {
    width: 100%;
}

.logo {
    width: 120px;
    opacity: 75%;
    /* cursor: pointer; */
}

.empty-div {
    width: 120px;
}

.welcome {
    display: inline-block;
    font-size: 18px;
    font-family: "EB Garamond", serif;
    font-weight: 300;
    word-spacing: -1px;
    letter-spacing: 1px;
}